* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("../Images/moscou.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
